@charset "utf-8";
/* CSS Document */
main {
	font-family: "游明朝", "Sawarabi Mincho", "HG明朝E", serif;
	overflow: hidden;
	display:block;
	-webkit-font-smoothing: antialiased;
}

@media screen and (max-width:767px) {
	
}
